<!DOCTYPE html>
<html>
<body>
<h2>Courses</h2>
<p>You will be provided with the study plan for each course upon contacting us</p>
<table>
  <tr>
    <th>Course Name</th>
    <th>Chorus hours</th>
    <th>Details</th>
  <tr>
    <td>web development full stack</td>
    <td>120 hours</td>
    <td>
      Comprehensive web course(FrontEnd + BackEnd)
    </td>
  </tr>
  <tr>
    <td>Android applications development</td>
    <td>180 hours</td>
    <td>
        and developing Android applications in the Java language
    </td>
  </tr>
  <tr>
    <td>PHP + SQL</td>
    <td>60 hours</td>
    <td>
      <pre>Create and build databases on servers
- MySQLi (object-oriented)
- MySQLi (procedural)
- PDO
      </pre>
    </td>
  </tr>
</table>

</body>
</html>

